/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

html, body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: block;
}

.container {
  @apply px-4;
  @apply sm:px-6;
  @apply lg:px-8;
  @apply mx-auto;
  @apply max-w-5xl;
}

.btn {
  @apply group;
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply rounded-full;
  @apply py-2;
  @apply px-4;
  @apply text-sm;
  @apply font-semibold;
  @apply focus:outline-none;
}

.btn-primary {
  @apply bg-accent;
  @apply text-gray-075;
  @apply hover:text-gray-050;
}

.hover\:accent-underline:hover {
  text-decoration: underline;
  text-decoration-color: #4D3DF7;
}
.accent-underline {
  text-decoration: underline;
  text-decoration-color: #4D3DF7;
}

.prose {
  @apply text-gray-100;
}
.prose li::marker {
  @apply text-gray-100;
}
.prose strong {
  @apply text-gray-050;
}

.prose h1 {
  @apply text-gray-050;
  @apply text-2xl;
  @apply lg:text-3xl;
  @apply font-semibold;
}
.prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  @apply text-gray-075;
  @apply font-semibold;
  @apply lg:text-2xl;
}
.prose h2 {
  @apply text-xl;
}
.prose h3 {
  @apply text-lg;
}


.prose a {
  @apply text-gray-100;
  @apply accent-underline;
}

a.breadcrumb {
  @apply text-xs;
  @apply uppercase;
  @apply text-accent !important;
  @apply no-underline !important;
  @apply hover:underline !important;
  @apply font-semibold !important;
}